<div class="d-flex">
  <div>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <h1 class="text-center">Reactive Form</h1>

      <!-- Profile form -> name,email,password,cpassword -->
      <div class="row">
        <app-profile-form formControlName="profile"></app-profile-form>
      </div>

      <div class="row">
        <!-- Gender -->
        <div class="col-md-6">
          <div class="misc-bottom-padding">
            <mat-label>Gender:</mat-label>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="gender"
            >
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- Date picker -->
        <div class="col-md-6">
          <mat-form-field>
            <input
              matInput
              readonly
              [matDatepicker]="picker"
              placeholder="Date of birth"
              formControlName="dob"
              (click)="picker.open()"
              (dateChange)="date($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Grade -->
        <div class="col-md-6">
          <mat-form-field style="margin-top: 38px">
            <mat-label>Grade *</mat-label>
            <mat-select formControlName="grade">
              <mat-option
                [value]="gradeArray"
                *ngFor="let gradeArray of GradeArray"
                >{{ gradeArray }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Address -->
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              rows="3"
              placeholder="Address *"
              formControlName="address"
            ></textarea>
            <mat-error *ngFor="let validation of validation_messages.address">
              <mat-error
                class="error-message"
                *ngIf="
                  myForm.get('address').hasError(validation.type) &&
                  (myForm.get('address').dirty || myForm.get('address').touched)
                "
              >
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- roles -->
      <div class="row">
        <div
          *ngFor="let control of rolesFieldAsFormArray.controls; let i = index"
          formArrayName="roles"
        >
          <div [formGroupName]="i">
            <mat-form-field style="width: 86%">
              <input
                matInput
                type="text"
                placeholder="Role *"
                formControlName="role"
              />
              <mat-error class="error-message" *ngIf="control.invalid">
                Role is required
              </mat-error>
            </mat-form-field>
            <button
              style="margin-left: 10px"
              mat-raised-button
              color="warn"
              (click)="removeRoleControl(i)"
            >
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="addRoleControl()"
      >
        Add Role
      </button>
      <!-- Submit -->
      <div class="button-wrapper submit-btn">
        <button mat-raised-button type="submit" (click)="myForm.reset()">
          Reset
        </button>
        <button class="ml-10" mat-raised-button type="submit" color="primary">
          {{ update ? "Update" : "Submit" }}
        </button>
      </div>
    </form>
  </div>

  <div style="width: 100%">
    <app-user-data (editEvent)="setUserValueForm($event)"></app-user-data>
  </div>
</div>
